  <div class="card mt-3 mx-auto card-custom" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
            <img
        src={{book.cover}}
        class="card-img-top"
        alt="Cover picture of {{book.title}}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center">{{book.title}}</h5>
        <h6 class="card-title text-center">Author: {{book.author}}</h6>
        <p class="card-text text-center">{{book.summary}}</p>
        <a href="/newreview"><button>Add New Review</button></a>
      </div>
    </div>
  </div>
</div>
{{!-- change book to review later --}}
{{#each book.reviews}}
{{> review-posts}}
{{/each}}

  </div>
</div>
{{!-- <div class="card mt-3 mx-auto card-custom" style="max-width: 540px;">
      <div class="card-body">
        <details>
  <summary class="card-title">Review 1</summary>
  <h5 class="card-title text-center">User: {{book.reviews.[0].user_id}}</h5>
  <h6 class="card-title text-center">{{format_date book.reviews.[0].date_posted}}</h6>
  <p class="card-title text-center">{{book.reviews.[0].content}}</p>
</details>
      </div>
    </div> --}}
  </div>
</div>

<script src="/js/newreview.js"></script>
